/*----------------------------------------------
css settings for HTML div exactCenter
------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
html, body {
	height: 100%;
	margin: 0;
	/*padding: 10;*/
}

body {
font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Helvetica, Verdana, Arial, sans-serif;
}
 
div#abc{
width: 100%;
height: 100%;
opacity: 0.95;
top: 0;
left: 0;

display: none;
position: absolute;
background-color: #313131;
}	

.popupContainer {
margin: 5% 20%;

}

form[id="edit"]{
	margin-left:auto;
	margin-right:auto;
	padding: 10px 50px;
	border: 2px solid gray;
	border-radius: 10px;
	/*font-family:raleway;*/
	background-color: white;
}
 
input[type=text]{
width:82%;
padding: 10px;
margin-top: 30px;
border: 1px solid #ccc;
padding: 2px 2px 5px 5px;
font-size: 16px;
/*font-family:raleway;
*/
}

input[readonly]{
background-color:#9a9a9a;
}

textarea[readonly] {
background-color:#9a9a9a;
}

form input[readonly]:focus, form textarea[readonly]:focus {
background-color:#9a9a9a;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("/images/fancybox_sprite.png");
}

.fancybox-close {
    cursor: pointer;
    height: 36px;
    position: absolute;
    right: -18px;
    top: -18px;
    width: 36px;
    z-index: 8040;
}

/*
#close{
    position: absolute;
    right: -18px;
    top: -18px;
	cursor:pointer;

}
*/
.ed_del_div {
    width: 130px;

}
 
.title{
 width:50%;

 margin-left:160px;

 } 

div#top-level-menu ul {
    /* list-style-type:none;*/
   padding:0px;
    margin:0px;
    /*width: 620px;*/
    margin-left:auto;
	margin-right:auto;
}

a {
	cursor: pointer;
	color: white;
	text-decoration: none;
}



.nav {
	padding-left: 0px;
}
.navbar {
	background-image: linear-gradient(#373737, #222222 60%, #181818);
	background-repeat: no-repeat;
	border-bottom: 1px solid #090909;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	filter: none;
	font-size: 13px;
	line-height: 1.42857;
}
li {
	list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}

.navbar-header {
	float: left;
	padding-left: 15px;
}

.navbar-text {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
/*
ul#navbar-text {
	list-style: none;
}*/

.navbar .divider-vertical {
border-left: 1px solid white;
height: 35px;
margin: 7px 0;
padding: 0;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.contentfild {
    float: top;
    margin: 55px 0px 0px 0px;
    position: relative;
}

*{
	box-sizing: border-box;
}
.navbar-inverse{
	background-image: linear-gradient(#0052a2, #00478d 60%, #00386f);
	background-repeat: no-repeat;
	border-bottom: 1px solid #002346;
	filter: none;
}
.navbar-fixed-top, .navbar-fixed-bottom{
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
	position: fixed;
}

table.dataTable tr td {
        text-align: center;
}
/*
table.dataTable tr td:first-child:before {
	content: "\f096";
	font-family: FontAwesome;
}

table.dataTable tr.selected td:first-child:before {
	content: "\f046";
}
.ColVis {
    clear: left;
    margin-bottom: 10px;
    text-align: right;
}*/
